<div class="list-group" id="homeSecondaryNav">

</div>
<script>
    $(function () {
        const data = [
            {
                text: "Plant Sciences Institute",
                additionalDetails: "lowa Stae University",
                path: 'https://www.psi.iastate.edu/'
            },
            {
                text: "AG2PI ",
                additionalDetails: "Agricultural Genome to Phenome Initiative",
                path: 'https://www.ag2pi.org/'
            },
            {
                text: "AIIRA ",
                additionalDetails: "AI Institue for Resilient Agriculture",
                path: 'https://aiira.iastate.edu/'
            },
            {
                text: "G2F ",
                additionalDetails: "The Genomes To Fields Initiative",
                path: 'https://www.genomes2fields.org/'
            },
            {
                text: "GTF ",
                additionalDetails: "Genomic Technologies Facility",
                path: 'https://www.plantgenomics.iastate.edu/'
            },
            {
                text: "New & Media Resources ",
                path: '/media'
            },
            {
                text: "Protocols ",
                path: '#'
            },
            {
                text: "How to Find Us ",
                path: '#'
            },
            {
                text: "Recycling Policy ",
                path: '#'
            },
            {
                text: "Lab Intranet ",
                path: '#'
            },
        ]
        const secondaryNav = $('#homeSecondaryNav')
        data.forEach((e) => {
            secondaryNav.append(
                `<a href="${e.path}" class="list-group-item list-group-item-action">
                ${e.text}
                ${e.additionalDetails != undefined 
                    ? `<br />(${e.additionalDetails})`
                    : ''}
                
            
            </a>`)
        })
    })

</script>