<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand nav-link" href="home">LAB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li id="one" class="nav-link"><a class="nav-link" href="home">Home</a></li>
                <li id="two" class="nav-link"><a class="nav-link" href="research">Research</a></li>
                <li id="ten" class="nav-link"><a class="nav-link" href="publications">Publications</a></li>
                <li id="three" class="nav-link"><a class="nav-link" href="personnel">Personnel</a></li>
                <li id="four" class="nav-link"><a class="nav-link" href="collaborators">Collaborators</a></li>
                <li id="five" class="nav-link"><a class="nav-link" href="education">Education</a></li>
                <li id="six" class="nav-link"><a class="nav-link" href="resources">Resources</a></li>
                <li id="seven" class="nav-link"><a class="nav-link" href="media">Media &amp; Videos</a></li>
                <li id="eight" class="nav-link"><a class="nav-link" href="photos">Photos</a></li>
                <li id="nine" class="nav-link"><a class="nav-link" href="contact">Contact</a></li>
            </ul>
        </div>

    </div>
</nav>